$body-grey : #222;

$bg--color:#3d3d3d; //bg de nav & footer
$light-lila : #f6effd;
$dark-lila :#bd87f0;

$text-orange-dark:#ffa500 ;
$text-orange-light : #f4c46d;
$light-yellow:#fff8dc;
$light-peach:#fae9d7;
$footer-text:#8f8f8f;
$copy:#606060;
$banner:#ffda97;

