footer{
    background-color: $bg--color;
}
.footer-titulo{
    color: $light-peach;
    font-size: 20px;
}  
.footer-texto{
    color: $footer-text;
    font-size: 15px;
}
.copy{
        color:$copy;
    }
